<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<title>Home</title>
<link rel="stylesheet" href="layout.css" type="text/css" media="screen" charset="utf-8">
<script type="text/javascript" charset="utf-8" src="http://localhost/jquery.min.js"> </script>
</head>
<body>
<div class="name">
	<p>
	欢迎来到home
	</p>
</div>

</body>

</html>
